html, body {
  scroll-behavior: smooth;
}

table {
  min-width: 700px;
}

@media (max-width: 768px) {
  table {
    min-width: unset;
  }
}

@media print {

  /* ซ่อน Navbar จริง ๆ แบบลบออกจาก layout */
  nav,
  .navbar,
  .no-print {
    display: none !important;
  }

  /* ซ่อนทุกอย่าง ยกเว้น print-area */
  body * {
    display: none !important;
  }

  /* แสดงเฉพาะ print-area */
  #print-area, 
  #print-area * {
    display: block !important;
  }

  /* ทำให้ print-area ขึ้นบนสุด */
  #print-area {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }
}
